body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

#phrase_box {
    padding: 40px;
}

#phrase {
    font-size: 80px;
}

#author {
    padding-top: 20px;
    font-size: x-large;
}

#header {
    background-color: lightgray;
    padding: 5px;
    font-size: small;
}

#countdown {
    width: 100%;
    height: 3px;
    border: thin solid gray;
}

#plunger {
    width: 103%;
    height: 3px;
    background-color: lightgray;
}

#sep {
    padding-left: 200px;
}

