body {
  padding: 0; margin: 0;
}

#phrase_box {
    //background-color: lightgray;
    padding: 40px;
}

#phrase {
    font-size: 80px;
}

#author {
    padding-top: 20px;
    font-size: x-large;
}

#header {
    background-color: lightgray;
    padding: 5px;
}

#countdown {
    //margin-top: 10px;
    width: 100%;
    height: 4px;
    border: thin solid gray;
}

#plunger {
    width: 103%;
    height: 4px;
    background-color: lightgray;
}

