body {  padding: 0;  margin: 0;  font-family: arial, sans-serif;  overflow-x: hidden; }

a { color:#0091CE; text-decoration: none; cursor:pointer; }
    a:hover { text-decoration:underline; color:#df3d82; cursor:pointer; }

#phrase_box { padding: 0; top: 50%; width: 100%; margin-top: -220px; position: absolute; }
    #phrase { font-size: 64px; line-height: 1.2em; font-family: "Georgia"; font-weight: normal; color: #535353; padding: 60px; text-align: center; }
    #author { margin-top: 40px; font-size: 34px; font-weight: bold; text-align: center; color:#999 }

#header { position: fixed; top: 0; left: 0; width: 100%; background: #fff; padding: 0; margin: 0; font-size: small; color:#555; z-index: 10; }


    #header_add { width: 600px; padding: 40px; margin: 0 auto; position: relative; display: none;  }
        label { margin: 0 0 5px 0; }
        textarea, input[type=text] { padding: 5px; font-family: "Helvetica", "Arial"; font-size: 18px; line-height: 26px; 
            border: none; border-top: 1px solid #bbb; border-left: 1px solid #bbb; background: #f7f7f7; }
        
        #saywhat { font-size: 22px; color: #999; display: block; }
        #phrase_input { height: 180px; width: 590px; margin: 0 0 20px 0;}

        #by_container { position: relative; margin-left: -3px;}
            #by { font-size: 18px; color: #aaa; position: absolute; top: 10px; left: 10px;  }
            #author_input { padding-left: 35px; }

            #add_phrase_button { cursor: pointer; border: none; background: url(bttn-add.png) 0 0 no-repeat; width: 60px; height: 55px; display: block; position: absolute; top: 0; right: 10px;}
                #add_phrase_button span { display: none; }
                #add_phrase_button:active { top: 1px; }
    
    #add_container { width: 100%; position: absolute; bottom: -80px; left: 0;}
    #add_q_bttn {background: url(bttn-add.png) center center no-repeat; height: 60px; width: 60px; margin-left: auto; margin-right: auto; padding: 10px 0;} 


    #countdown { margin: 0; width: 100%; height: 20px; border-bottom: 1px solid #aaa; border-top: 1px solid #aaa; }
        #plunger { width: 103%; height: 20px; background: url(11.gif) repeat-x 0 0; border-right: 2px solid #ff6f00;}


#phrase_counter { position: fixed; bottom: 0; left: 0; width: 150px; padding: 10px; font-size: 18px; color: #ccc; text-align: center; }
    #current_id { font-size: 36px; color:#999; }
    #phrase_count { font-size: 24px; color:#aaa; }
    #phrase_counter p { margin: 0; font-size: 11px; }
    #client_count { color: #888; font-weight: bold; }

#skipper { position: fixed; bottom: 0; right: 0; font-size: 18px; padding: 0; opacity: 0.7;  }
    .control { display: block; padding: 30px 20px 10px 30px; font-size: 30px; float: left; }
    #show_next:hover { background: #f7f7f7; }

body.dark { background: #333; }
    body.dark #phrase { color: #fff; }
    body.dark #current_id, body.dark #phrase_count { color:#666; }
    body.dark #phrase_counter, body.dark #client_count { color: #454545; }
    body.dark #show_next:hover { background: #333;}

#header { -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) }
