<div id="content" ng-class="{ 'dark': isDarkMode }" tabindex="0" ng-keyup="onKeyPressed($event)">
  <div id="header" ng-class="{ 'header-expanded': isExpanded }" ng-mouseenter="isExpanded = true" ng-mouseleave="isExpanded = false">
    <div phrase-creator on-phrase-added="isExpanded = false"></div>
    <div id="add_container"><div id="add_q_bttn"></div></div>
    <div countdown on-finish="showNext()" is-paused="!getCurrentPhrase()"></div>
  </div>

  <div phrase-box phrase="getCurrentPhrase()"></div>

  <div info-pane></div>

  <div id="skipper">
    <a id="show_previous" class="control" ng-click="showPrevious()">&larr; Previous</a>
    <a id="show_next" class="control" ng-click="showNext()">Next &rarr;</a>
  </div>
</div>
