#phrase_counter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px;
  padding: 10px;
  font-size: 18px;
  color: #ccc;
  text-align: center;
}

#current_id {
  font-size: 36px;
  color:#999;
}

#phrase_count {
  font-size: 24px;
  color:#aaa;
}

#phrase_counter p {
  margin: 0;
  font-size: 11px;
}

#client_count {
  color: #888;
  font-weight: bold;
}
